certifi==2025.1.31
charset-normalizer==3.4.1
colorzero==2.0; sys_platform == "linux"
gpiozero==2.0.1; sys_platform == "linux"
idna==3.10
lgpio==0.2.2.0; sys_platform == "linux"
numpy==2.2.4
PyAudio==0.2.14
pygame==2.6.1
requests==2.32.3
rpi-lgpio==0.6; sys_platform == "linux"
urllib3==2.3.0
websocket-client==1.8.0
