[Unit]
Description=Zaby Script
After=network.target
Requires=network.target sound.target alsa-restore.service

[Service]
User=zaby
WorkingDirectory=/home/zaby/Code/Zaby
ExecStart=/bin/bash -c 'sleep 3 && source /home/zaby/Code/Zaby/zaby-env/bin/activate && python /home/zaby/Code/Zaby/main.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target
