[Unit]
Description=Zaby Script
After=network-online.target
Wants=network-online.target

[Service]
User=zaby
WorkingDirectory=/home/zaby/Code/Zaby
Environment=PYTHONUNBUFFERED=1
ExecStart=/bin/bash -c 'source /home/zaby/Code/Zaby/zaby-env/bin/activate && python /home/zaby/Code/Zaby/main.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target
